//
//  LoopOverride.xcconfig
//  LoopWorkspace
//
//  Created by Pete Schwamb on 12/31/19.
//  Copyright © 2019 Tidepool Project. All rights reserved.
//

MAIN_APP_BUNDLE_IDENTIFIER = org.tidepool

MAIN_APP_DISPLAY_NAME = Tidepool Loop

APP_STORE_URL = itms-apps://itunes.apple.com/us/app/apple-store/id1474388545

URL_SCHEME_NAME = TidepoolLoop

// Include services for now, so QA can test acceptance flow
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) NONLINEAR_CARB_MODEL_DISABLED REMOTE_COMMANDS_DISABLED CRITICAL_ALERTS_ENABLED SCENARIOS_ENABLED SIMULATED_CORE_DATA_ENABLED WALSH_INSULIN_MODEL_DISABLED FIASP_INSULIN_MODEL_DISABLED LYUMJEV_INSULIN_MODEL_DISABLED AFREZZA_INSULIN_MODEL_DISABLED OBSERVE_HEALTH_KIT_SAMPLES_FROM_OTHER_APPS_DISABLED MOCK_THERAPY_SETTINGS_ENABLED ENTRY_DELETION_DISABLED PREDICTED_GLUCOSE_CHART_CLAMP_ENABLED CGM_MANAGER_CATEGORIZE_GLUCOSE_RANGE_ENABLED MANUAL_DOSE_ENTRY_DISABLED INSULIN_DELIVERY_RESERVOIR_VIEW_DISABLED SIRI_DISABLED FORCE_ENGLISH SIMPLE_BOLUS_CALCULATOR_ENABLED DISABLE_POSITIVE_MOMENTUM_AND_RC_FOR_MANUAL_BOLUSES DEBUG_FEATURES_ENABLED EXPERIMENTAL_FEATURES_ENABLED_CONDITIONALLY SIMULATORS_ENABLED MISSED_MEAL_NOTIFICATIONS_DISABLED SHOW_EVENTUAL_BLOOD_GLUCOSE_ON_WATCH_DISABLED PROFILE_EXPIRATION_SETTINGS_VIEW_DISABLED DOSING_STRATEGY_SELECTION_DISABLED

LOOP_LOCAL_CACHE_DURATION_DAYS = 90

LOOP_ENTITLEMENTS = ../Tidepool/Loop/Loop/Loop.entitlements

LOOP_DEVELOPMENT_TEAM = 75U4X84TEG

// Min iOS Version
IPHONEOS_DEPLOYMENT_TARGET = 15.0

// Points WORKSPACE_ROOT to the LoopWorkspace (parent directory)
WORKSPACE_ROOT = ..
